/* Homework 3 */

/*General classes*/
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*Header*/
img {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-flex {
    display: flex;
}


.header-navigate {
    display: flex;
    align-items: center;

}

.header-logo {
    margin-right: 76px;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-link {
    padding: 24px 0;
}

.header-address {
    display: flex;
    gap: 40px;
}

/*Section Zero*/

.zero-section {
    padding: 188px 0;
}

.zero-title {
    max-width: 496px;
}

.zero-button {
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*Section One*/

.one-section {
    padding: 120px 0;
}

.one-list {
    display: flex;
    gap: 24px;
}

.one-list-element {
    flex-basis: calc((100% - 72px) / 4);
}

.one-title-element {
    margin-bottom: 8px;
}

/*Section Two*/

.two-section {
    padding-bottom: 120px;
}

.two-section-title {
    margin-bottom: 72px;
}

.two-list {
    display: flex;
    gap: 24px;
}

.two-list-element {
    width: calc((100% - 48px) / 3);
}

/*Section Three*/

.three-section {
    padding: 120px 0;
}

.three-title-h-two {
    margin-bottom: 72px;
}

.three-list {
    display: flex;
    gap: 24px;
}

.three-list-element {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.three-div {
    padding: 32px 0;
}

.three-title {
    text-align: center;
    margin-bottom: 8px;
}

.three-p-element {
    text-align: center;
}

/*Footer*/

.modern-footer {
    padding: 100px 0;
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-p-element {
    max-width: 264px;
}

/*Portfolio*/

.portfolio-section {
    padding-top: 96px; 
    padding-bottom: 120px;
}

.portfolio-list-one {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-buttons {
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}

.portfolio-buttons:hover {
    border: 1px solid transparent;
}

.portfolio-buttons:focus {
    border: 1px solid transparent;
}

.portfolio-list-two {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-two-element {
    width: calc((100% - 48px) / 3);
}

.portfolio-div-title-and-p {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-div-title {
    margin-bottom: 8px;
}